<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bench Press</string>
	<string>Incline Press</string>
	<string>Chest Flys</string>
	<string>Peck Deck Flys</string>
	<string>Pushups</string>
	<string>Chest Dips</string>
	<string>Shoulder Press</string>
	<string>Side Lateral Raise</string>
	<string>Upright Rows</string>
	<string>Lat Pulldown</string>
	<string>Seated Rows</string>
	<string>Pull Ups</string>
	<string>Chin Ups</string>
	<string>Dumbbell Rows</string>
	<string>Shrugs</string>
	<string>Crunches</string>
	<string>Reverse Crunches</string>
	<string>Oblique Crunches</string>
	<string>Leg Extension</string>
	<string>Leg Curls</string>
	<string>Leg Press</string>
	<string>Squats</string>
</array>
</plist>
