/* BODY */
body { background: #D8D8D8; }

/* TOP BAR */
#topbar {
	height: 44px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566E93), to(#314F7B));
}

/* top bar title */
#title {
	color: #FFF;
	font-family: "Lucida Grande", Helvetica;
	font-size: 30px;
	text-shadow: #3B4C66 0 1px 0;
}


/* BREADCRUMB */
#breadcrumb {
	background: #FFF;
	border-bottom: 1px solid #676767;
	font-family: "Lucida Grande", Helvetica;
	font-size: 11px;
	height: 16px;
	margin: -13px 0px 13px;
	text-align: center;
}


/* HERO CONTENT */
#hero {
	border: 1px solid #676767;
	border-top: none;
	background: #FFF;
	font-family: "Lucida Grande", Helvetica;
	font-size: 12px;
	height: 150px;
	margin: -13px 10px 13px 10px;
	padding-top: 4px;
	text-align: center;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#heroTvads {
	border: 1px solid #676767;
	border-top: none;
	background: #FFF;
	font-family: "Lucida Grande", Helvetica;
	font-size: 12px;
	height: auto; //150px;
	margin: -13px 10px 13px 10px;
	padding-top: 0px;
	padding-bottom: 10;
	text-align: center;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#heroTvads video {
	margin-top: 3px;
}


/* CONTENT */
#content {
	min-height: 190px;
}

/* edge to edge menu */
.menuImage {
	margin-left: 20px;
}